    # Core
    fastapi
    uvicorn
    python-multipart
    pydantic
    starlette

    # Firebase
    firebase-admin
    google-cloud-firestore
    google-cloud-storage

    # Google Vision
    google-cloud-vision

    # Utilities
    python-dotenv
    python-jose
    uuid

    # Production Server
    uvicorn
    openai
    tenacity
    pillow==10.2.0
    pdf2image==1.17.0
    google-generativeai==0.3.2
    google-auth==2.27.0
    numpy